<!DOCTYPE html>
<html> 
<title>Sarah</title>
<head>Sarah</head>
<body>
<p>Hi! I'm Sarah Ng. I looked up to my cousins when I was younger. I look more like my dad. My mom is important to me because she always supports me. My favorite actress is Shay Mitchell because is driven and never gave up on her dream of acting.</p>
<img src=https://www.usmagazine.com/wp-content/uploads/693588124_shay-mitchell-zoom-cd804e4b-8076-4a6a-94bd-cc0f9f6f914f.jpg?w=900> 
<h1>My favorite emoji is the smiley face with jazz hands</h1>
<img src= https://i.pinimg.com/originals/52/a0/e8/52a0e87bb80b3b54af4cff0f2a2266bb.png>
<p1>My favorite cultural activity is eating shrimp chips. My favorite music genre is pop. 


</p1>
</body>
</html>